/*  Hero Area  */

header.hero-area {
    background: #f5f5f5;
    padding-top: 170px;
    padding-bottom: 50px;
}
.hero-area .header-title {
    font-size: 62px;
    font-weight: 100;
    line-height: 50px;
}
/*  Responsive CSS for Hero Area  */
/*  Tablet Portrait  */

@media (max-width: 1040px) {
    header.hero-area {
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .hero-area .header-title {
        font-size: 48px;
        line-height: 40px;
    }
}
@media (max-width: 480px) {
    .hero-area .header-title {
        font-size: 36px;
        line-height: 42px;
    }
}
/*  Product Listing Tab Area  */

#products-list {
    padding: 90px 0px;
}
#products-list .product-filters {
    margin-bottom: 50px;
}
#products-list .product-filters a.btn {
    background: transparent;
    color: #8c8c8c;
    padding: 12px 10px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(140, 140, 140, 0.5);
    border-radius: 0px;
    margin: 0px;
    opacity: .7;
}
#products-list .product-filters a.active,
#products-list .product-filters a.btn:hover,
#products-list .product-filters a.btn:focus,
#products-list .product-filters a.btn:active {
    color: #262C30;
    padding-right: 50px;
    border-bottom: 3px solid #262C30;
    border-radius: 0px;
    box-shadow: none;
    background: transparent;
    opacity: 1;
}
/*  Product Listing Area  */

#product-item .mix {
    display: none;
}
#product-item a {
    color: #262C30;
}
#products-list figure {
    margin-bottom: 30px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#products-list figure:hover {
    cursor: pointer;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#products-list figure figcaption {
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.01);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#products-list figure:hover figcaption {
    background: rgba(0, 0, 0, 0.0);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#products-list figure .product-price del {
    opacity: .5;
}
#products-list figure .product-price .promo-price {
    margin-left: 20px;
    color: #e53935;
}
/* Section Responsive CSS */
/*  Tablet Portrait  */

@media (max-width: 970px) {
    .product-filters {
        text-align: center;
    }
}
/*  Pagination  */

.pagination .prev a,
.pagination .next a {
    text-transform: uppercase;
    border-radius: 50px !important;
    border: 1px solid #262C30;
    background: #fff;
    color: #262C30;
    padding: 10px 20px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
.pagination .prev a.disable,
.pagination .next a.disable {
    opacity: .7;
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
}
.pagination .prev a:hover,
.pagination .prev a:focus,
.pagination .prev a:active,
.pagination .next a:hover,
.pagination .next a:focus,
.pagination .next a:active {
    background: #fff;
    color: #262C30;
    border: 1px solid transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
.pagination .prev a.disable:hover,
.pagination .prev a.disable:focus,
.pagination .prev a.disable:active,
.pagination .next a.disable:hover,
.pagination .next a.disable:focus,
.pagination .next a.disable:active {
    background: transparent;
    opacity: .7;
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
    box-shadow: none;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
.pagination-number > li > a,
.pagination-number > li > span {
    opacity: .7;
    color: #8c8c8c;
    width: 44px;
    height: 44px;
    padding: 10px;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
.pagination-number > li > a:hover,
.pagination-number > li > span:hover,
.pagination-number > .active > a,
.pagination-number > .active > span,
.pagination-number > .active > a:hover,
.pagination-number > .active > span:hover,
.pagination-number > .active > a:focus,
.pagination-number > .active > span:focus {
    border-radius: 50px !important;
    background: #262C30;
    color: #fff;
    margin: 0px 1px;
    border-color: transparent;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#products-list .pagination {
    margin: 30px 20px;
}
/* Promo Product Section */

#exclusive-promo {
    padding: 0px;
}
#exclusive-promo figure a {
    color: #262C30;
}
#exclusive-promo figure figcaption {
    max-width: 65%;
    height: 100%;
    position: absolute;
    top: 0px;
    padding-left: 7%;
    padding-top: 35%;
}
#exclusive-promo figure figcaption .product-title {
    margin-bottom: 25px;
    font-size: 62px;
    font-weight: 100;
    line-height: 50px;
}
#exclusive-promo figure figcaption p {
    font-size: 20px;
    line-height: 28px;
    opacity: .5;
    margin-bottom: 30px;
}
/* Sections Responsive CSS */
/* Laptop & Desktop */

@media (max-width: 1460px) {
    #exclusive-promo figure figcaption {
        padding-top: 22%;
    }
    #exclusive-promo figure figcaption .product-title {
        font-size: 48px;
        line-height: 40px;
    }
}
/* Sections Responsive CSS */
/* Laptop & Desktop */

@media (max-width: 1460px) {
    #exclusive-promo figure figcaption {
        padding-top: 22%;
    }
    #exclusive-promo figure figcaption .product-title {
        font-size: 48px;
        line-height: 40px;
    }
}
/* Tablet Landscape */

@media (max-width: 1040px) {
    /* CSS for promo product, exclusive product large blocks & mobile app CTA */
    
    #exclusive-promo figure figcaption {
        padding-top: 25%;
    }
    #exclusive-promo figure figcaption .product-title {
        font-size: 36px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 40px;
    }
    #exclusive-promo figure figcaption p {
        font-size: 16px;
        line-height: 24px;
    }
}
/* Phone Portrait */

@media (max-width: 670px) {
    /* CSS for promo product & mobile app CTA */
    
    #exclusive-promo figure figcaption {
        padding-top: 30%;
    }
    #exclusive-promo figure figcaption .product-title {
        font-size: 42px;
    }
}
@media (max-width: 490px) {
    /* CSS for promo product & mobile app CTA */
    
    #exclusive-promo figure figcaption .product-title {
        font-size: 26px;
        margin-bottom: 0px;
        font-weight: 300;
    }
    #exclusive-promo figure figcaption p {
        margin-bottom: 20px;
    }
    #exclusive-promo figure figcaption p {
        font-size: 14px;
        line-height: 20px;
    }
    #exclusive-promo figure figcaption {
        padding-top: 15%;
    }
}
@media (max-width: 400px) {
    #exclusive-promo figure figcaption p {
        font-size: 12px;
        line-height: 16px;
    }
}
/*  Call to Action  */

#call-to-action {
    background: url("../img/hero-6.jpg") no-repeat transparent;
    background-size: cover;
    background-position: center;
    padding: 160px 0px;
    min-height: 720px;
}
#call-to-action .header-text .header-heading {
    margin-bottom: 25px;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
}
#call-to-action .header-text p {
    font-size: 20px;
    line-height: 28px;
    opacity: .5;
    margin-bottom: 30px;
}
/* Responsive css for CTA Area 1 */
/* Tablet Landscape */

@media (max-width: 1040px) {
    #call-to-action .header-text .header-heading {
        font-size: 48px;
        line-height: 52px;
    }
}
/* Phone Portrait */

@media (max-width: 480px) {
    #call-to-action .header-text .header-heading {
        font-size: 36px;
        line-height: 42px;
    }
}